# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Runtime data
tmp/
temp/
.cache/
*.tmp

# dotenv environment files
.env
.env.*.local

# Build output
dist/
build/
out/

# Vite cache
.vite/

# Coverage
coverage/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Misc
*.tgz

server/videos/
